
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Sriracha', cursive;
}

.chatcard{
  text-shadow:-2px 2px 2px black;
}

.chatcard::selection{
  color:yellow;
  background-color: rgba(0, 0, 0, 0);
}